<% content_for :title, "Messages" %>

<table>
  <tr>
    <th>User</th>
    <th>Topic</th>
    <th>Creator</th>
    <th>Content</th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td><%= get_username(message) %></td>
      <td><%= message.topic_id %></td>
      <td><%= message.content %></td>
    </tr>
  <% end %>
</table>
